ECHOLN [Console]"	:	Executing autoexec.cfg"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN [Client]"	:	---[    Autoexec.cfg Downie2k loading     ]----"
ECHOLN [Client]"	:	---[            Loading Keybinds          ]----"
ECHOLN [Client]"	:	-----------------------------------------------"
ECHOLN [Client]"	:	--- Setting weapon binds ---"

;// Keybinds for quick purchases
;// use the KeybindScancodeGuide.md for reference of the codes
		bind scancode76 "buy vesthelm;buy vest"
		bind scancode77 "buy galilar;buy famas"
		bind scancode78 "buy ak47;buy m4a1"
		bind scancode79 "buy hegrenade"
		bind scancode80 "buy incgrenade; buy molotov"
		bind scancode81 "buy smokegrenade"
		bind scancode82 "buy flashbang"
		bind scancode86 "buy decoy"
		bind scancode87 "buy defuser"
		bind scancode92 "buy deagle"
		bind scancode93 "buy awp"
		bind scancode94 "buy p250"
;// DONE

ECHOLN	[Success]"	:	11 setting(s) configured"
ECHOLN	[Info]"		:	Completed (24%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Setting Mouse Binds ---"

;// Mousewheel Exemption Keybinds
	bind "MWHEELUP" "+jump"
	bind "MWHEELDOWN" "+jump"
;// DONE

ECHOLN	[Success]"	:	2 setting(s) configured"
ECHOLN	[Info]"		:	Completed (26%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Setting Movement and Chat Binds ----"

;// CS2 Scancode Keybinds
	;// use the KeybindScancodeGuide.md for reference of the codes
	bind scancode44 "+jump" 
	bind scancode8 "+use"  
	bind scancode225 "+sprint"
	bind scancode19 "say ¯\_(ツ)_/¯"	
;// CS2 Native Jumpthrow Bind
	bind scancode17 "+jump; -attack; -attack2"
;// DONE

ECHOLN	[Success]"	:	5 setting(s) configured"
ECHOLN	[Info]"		:	Completed (34%)"
ECHOLN	[Client]"	:	==============================================="
ECHOLN	[Client]"	:	===[    Binds Downie2k have been loaded   ]===="
ECHOLN	[Client]"	:	==============================================="
ECHOLN	[Client]"	:	--- Set General Setting ---"

;// General settings
	sensitivity 	"0.65"
	volume 			"0.7"
;// DONE

ECHOLN	[Success]"	:	2 setting(s) configured"
ECHOLN	[Info]"		:	Completed (38%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Set Rate ---"

;// rate 
	rate "1000000"
;// DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Info]"		:	Completed (40%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Set Custom Viewmodel---"

;// Viewmodel settings

	;// desktop "60"	classic "68"
		viewmodel_fov "68"
		
	;// desktop "1"		classic "2.5"
		viewmodel_offset_x "2.5"
		
	;//	desktop "1"		classic "0"
		viewmodel_offset_y "2"
		
	;// desktop "-1.5"	classic "-1.5"
		viewmodel_offset_z "-2"
		
;// DONE

ECHOLN	[Success]"	:	6 setting(s) configured"
ECHOLN	[Info]"		:	Completed (52%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Team Visibility Enhancement ----"

;// show equipment team
	cl_teamid_overhead_mode "2"
;// DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Info]"		:	Completed (54%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Sound Enhancement ----"

;// sound adjustments for CS2 audio engine
	snd_mixahead 					"0.011"
	snd_headphone_pan_exponent 		"1"
	snd_musicvolume 				"0.03"
	snd_tensecondWarning_volume 	"0.10"
	voice_always_sample_mic 		"false"
	voice_threshold 				"-120"
;// DONE

ECHOLN	[Success]"	:	6 setting(s) configured"
ECHOLN	[Info]"		:	Completed (66%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Network Enhancement ----"

;// ignores dedicated servers with pings above this value.
	mm_dedicated_search_maxping "40"
;// DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Info]"		:	Completed (68%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- HUD Enhancement ----"

;// HUD scale and visibility
	hud_scaling 		"1"
	hud_showtargetid	"1"
;// DONE

ECHOLN	[Success]"	:	2 setting(s) configured"
ECHOLN	[Info]"		:	Completed (72%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Display Loadout ---"

;// Sets loadout	
	cl_showloadout "1"
;// DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Info]"		:	Completed (74%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Quality Enhancements ---"

;// quality features
	cl_resend "6"
	cl_timeout "9999"
;// DONE

ECHOLN	[Success]"	:	2 setting(s) configured"
ECHOLN	[Info]"		:	Completed (78%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Gameplay Enhancements ---"

;// Gameplay Features
	r_drawtracers_firstperson 	"1"
	r_drawtracers 				"1"
	fps_max 					"0"
	cl_autohelp 				"0"
;// DONE

ECHOLN	[Success]"	:	5 setting(s) configured"
ECHOLN	[Info]"		:	Completed (89%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Loading Custom Crosshair ---"

;// crosshair
	cl_crosshairsize				"1.5"
	cl_crosshairgap 				"-5"
	cl_crosshairthickness			"0.5"
	cl_crosshaircolor				"0"
	cl_crosshair_outlinethickness	"1"
;// DONE

ECHOLN	[Success]"	:	5 setting(s) configured"
ECHOLN	[Success]"	:	Completed (100%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Console]"	:	Config executed"
ECHOLN	[Warning]"	:	--- Write config to disk ---"

host_writeconfig

ECHOLN	[Success]"	:	Completed"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	--- Disabling Vprof & IV profiler(s) ---"

;// profilers
	vprof_off
	iv_off
;// DONE

ECHOLN	[Success]"	:	Completed"
ECHOLN	[Client]"	:	==============================================="
ECHOLN	[Client]"	:	===[     CFG Downie2k has been loaded     ]===="
ECHOLN	[Client]"	:	===[          Goodluck have fun!          ]===="
ECHOLN	[Client]"	:	==============================================="
ECHOLN  [Warning]"	: 	Configuration completed, closing connection."
