;//  This configuration is a part of the Counter-strike 2 Config Bundle by Downie2k
;// 	Learn more at: https://github.com/DominicKlmNL/counter-strike-2-config/
;// 		Use the KeybindScancodeGuide.md for reference of the scancodes
;//  ______________________________________________________________________________
;//  	  		    			Created by Downie2k   			  
;//  ______________________________________________________________________________

ECHOLN [Client]"	:	--- Autoexec.cfg Downie2k loading ---"
ECHOLN [Client]"	:	--- Setting weapon binds ---"
;// Keybinds for quick purchases
		bind scancode76 "buy vesthelm;buy vest"
		bind scancode77 "buy galilar;buy famas"
		bind scancode78 "buy ak47;buy m4a1"
		bind scancode79 "buy hegrenade"
		bind scancode80 "buy incgrenade; buy molotov"
		bind scancode81 "buy smokegrenade"
		bind scancode82 "buy flashbang"
		bind scancode86 "buy decoy"
		bind scancode87 "buy defuser"
		bind scancode92 "buy deagle"
		bind scancode93 "buy awp"
		bind scancode94 "buy p250"

ECHOLN	[Client]"	:	--- Setting Mouse Binds ---"
	bind "MWHEELUP" "+jump"
	bind "MWHEELDOWN" "+jump"

ECHOLN	[Client]"	:	--- Setting Movement and Chat Binds ----"
	bind scancode44 "+jump" 
	bind scancode8 "+use"  
	bind scancode225 "+sprint"
	bind scancode19 "say ¯\_(ツ)_/¯"	
	bind scancode17 "+jump; -attack; -attack2"							// CS2 Native Jumpthrow Bind						

ECHOLN	[Client]"	:	--- Keybinds loaded succesfully ---"
ECHOLN	[Client]"	:	--- Setting Default Values ---"
	sensitivity 	"0.65"
	volume 			"0.7"												// Default "1" | Min. "0.0" | Max. "1.0"

ECHOLN	[Client]"	:	--- Set Bandwidth Rate ---"
	rate 			"1000000"											// Sets bandwidth to maximum to minimize delays in receiving player positions, shot registrations, and utility updates during firefights. 	Options: "786432" or max "1000000"

ECHOLN	[Client]"	:	--- Set Custom Viewmodel ---"
	viewmodel_fov "68"													// Options: desktop "60"	classic "68"	Custom range Min. "54" | Max. "68"
	viewmodel_offset_x "2.5"											// Options: desktop "1"		classic "2.5"	Custom range Min. "-2.5" | Max. "2.5"		
	viewmodel_offset_y "2"												// Options: desktop "1"		classic "0"		Custom range Min. "-2.5" | Max. "2.5"		
	viewmodel_offset_z "-2"												// Options: desktop "-1.5"	classic "-1.5"	Custom range Min. "-2.5" | Max. "2.5"

ECHOLN	[Client]"	:	--- Team Visibility Enhancement ---"
	cl_teamid_overhead_mode "2"											// Display info above teammate(s); 													Options: "0": Off | "1": Pips/Triangle | "2": Pips/Name/Equipment | "3": Pips/Health/Equipment 

ECHOLN	[Client]"	:	--- Sound Enhancement ---"
	snd_mixahead 					"0.011"								// Determines the length of the audio buffer. 										Default value: "0.10" (equals 100ms buffer delay) | Value range between "0.01" and "1.0"
	snd_headphone_pan_exponent 		"2"									// Determines the volumecurve for accurate tracking of enemy distance. 				Default "1" | Competitive/Focus "2" (Advised) | Max "3"
	snd_musicvolume 				"0.03"								// Determine the master volume. 													Min. "0" | Max. "1"
	snd_tensecondWarning_volume 	"0.10"								// Set volume of the critical 10 second bomb countdown music to 10%. 				Min. "0" | Max. "100"
	voice_always_sample_mic 		"false"								// Stops CS2 from permanently listening to and processing your microphone input. 	Default "true" | Disable "false" 
	voice_threshold 				"-120"								// Sets microphone gate to its absolute lowest possible decibel level				Default "-120" | Min. "-120" | Max. "0"

ECHOLN	[Client]"	:	--- Network Enhancement ---"
	mm_dedicated_search_maxping "40"									// Force Valve to ignores dedicated servers with pings above this value set in ms.

ECHOLN	[Client]"	:	--- HUD Enhancement ---"
	hud_scaling 		"1"												// Set HUD scaling													Default "0.85" | Min. "0.5" | Max. "1.1"
	hud_showtargetid	"1"												// Ensures that name of an enemy is displayed in red on your HUD	Default: Enabled "1" | Disable "0"

ECHOLN	[Client]"	:	--- Display Loadout ---"	
	cl_showloadout "1"													// Ensures that your equipment HUD element (showing your current weapons, grenades, and defuse kit) stays permanently visible

ECHOLN	[Client]"	:	--- Quality Enhancements ---"
	cl_resend "6"														// Controls the delay (in seconds) the game client waits before sending another connection request when trying to connect to a server
	cl_timeout "9999"													// Dictates how long (in seconds) the Counter-Strike 2 client will wait for a response from the server before completely disconnecting you due to an inactive connection

ECHOLN	[Client]"	:	--- Gameplay Enhancements ---"
	r_drawtracers_firstperson 	"1"										// Ensures that you see the bright, glowing bullet tracer streaks fly out of your own weapon when you fire										Default: Enabled "1" | Disable "0"
	r_drawtracers 				"1"										// Controls whether all bullet tracers (both your own and those fired by your teammates and enemies) are rendered globally by the game engine.	Default: Enabled "1" | Disable "0"
	fps_max 					"0"										// Determines the maximum framerate allowed																										Default "400" | Min. "59" | Max. "999" | Uncapped. "0" 
	cl_autohelp 				"0"										// Disables the in-game pop-up instructional hints that appear on your screen while playing														Default: Disabled "0" | Enable "1"

ECHOLN	[Client]"	:	--- Loading Custom Crosshair ---"
	cl_crosshairsize				"1.5"								// Sets size of your crosshair without considering the crosshairgap. 	Default "5" | values typically between "0.5" and "5"
	cl_crosshairgap 				"-5"								// Sets the gap at the center of your crosshair. 						Default "1" | values typically between "-10" and "10", setting lower value equals bigger gap
	cl_crosshairthickness			"0.5"								// Sets thickness of the lines of your crosshair. 						Default "0.5" | values typically between "0" and "2"
	cl_crosshaircolor				"0"									// Sets color of the crosshair.											Default "0" Red | "1": Green | "2": Yellow | "3": Dark Blue | "4": Cyan | "5": Custom RGB; defined through "cl_crosshair_r";"cl_crosshair_g";"cl_crosshair_b"
	cl_crosshair_outlinethickness	"1"									// Sets thickness of the black outline. 								Default "1" | Values typically range between "0.1" and "3". When cl_crosshair_drawoutlines "0" is configured, it overrides this setting. 
	cl_crosshair_drawoutlines		"0"									// Sets visibility of the black outline around your crosshair. 			Default: Disabled "0" | Enable "1"
ECHOLN	[Info]	"	:	--- Write Settings to Game Configuration ---"
	host_writeconfig													// Writes settings to game configuration

ECHOLN	[Client]"	:	--- Disabling Vprof & IV profiler(s) ---"
	vprof_off															// Disable Vprof profiler, continously collecting telemetry which affects performance and stability
	iv_off																// Disable IV profiler, continously collecting telemetry which affects performance and stability

ECHOLN	"----      autoexec Downie2k completed      ----"
;//  __________________________________________________________________
;//  	  		    Autoexec.cfg completed succesfully
;//							GL & HF - Downie2k
;//  __________________________________________________________________
