ECHOLN [Console]"	:	Executing autoexec.cfg"
ECHOLN [Client]"	:	==============================================="
ECHOLN [Client]"	:	===[      Autoconfig Downie2k loading     ]===="
ECHOLN [Client]"	:	===[           Starting KEYBINDS          ]===="
ECHOLN [Client]"	:	==============================================="

;//	BINDS require scancodes in CS2, see table below for known scancodes (KP is Keypad)
;//	+--+------------+--+--------+--+--------+--+----------------+--+------------+--+------------+--+----------------+--+------------+--+------------+---+-------+---+-----------+
;//	|1 | <unused>	|11| h		|21| r		|31| 2				|41| ESCAPE		|51| ;			|61| F4				|71| Scrolllock	|81| Down		|91 | KP 3	|	| SPECIAL	|
;//	|2 | <unused>	|12| i		|22| s		|32| 3				|42| BACKSPACE	|52| '			|62| F5				|72| Pause		|82| Up			|92 | KP 4	|225| LShift	|
;//	|3 | <unused>	|13| j		|23| t		|33| 4				|43| TAB		|53| `			|63| F6				|73| Insert		|83| Numlock	|93 | KP 5	|	|			|
;//	|4 | a			|14| k		|24| u		|34| 5				|44| SPACE		|54| ,			|64| F7				|74| Home		|84| KP /		|94 | KP 6	|	|			|
;//	|5 | b			|15| l		|25| v		|35| 6				|45| -			|55| .			|65| F8				|75| Page Up	|85| KP *		|95 | KP 7	|	|			|
;//	|6 | c			|16| m		|26| w		|36| 7				|46| Equals 	|56| /			|66| F9				|76| Delete		|86| KP -		|96 | KP 8	|	|			|
;//	|7 | d			|17| n		|27| x		|37| 8				|47| [			|57| CAPS LOCK	|67| F10			|77| End		|87| KP +		|97 | KP 9	|	|			|
;//	|8 | e			|18| o		|28| y		|38| 9				|48| ]			|58| F1			|68| F11			|78| Page Down	|88| KP ENTER	|98 | KP 0	|	|			|
;//	|9 | f			|19| p		|29| z		|39| 0				|49| \			|59| F2			|69| F12			|79| Right		|89| KP 1		|99 | KP .	|	|			|
;//	|10| g			|20| q		|30| 1		|40| ENTER/RETURN	|50| #			|60| F3			|70| Print Screen	|80| Left		|90| KP 2		|100| 		|	|			|
;//	+--+------------+--+--------+--+--------+--+----------------+--+------------+--+------------+--+----------------+--+------------+--+------------+---+-------+---+-----------+
;//	Binds are formatted as following	bind scancodeXX "command" 

ECHOLN	[Info]"		:	Loading config"	
ECHOLN	[Client]"	:	Setting weapon binds"

;// Buy binds
	;// bind = Insert
		;// bind scancode73
	;// bind = Home
		;// bind scancode74
	;// bind = PageUp
		;//bind scancode75
	;// bind = Delete
		bind scancode76 "buy vesthelm;buy vest"
	;// bind = End
		bind scancode77 "buy galilar;buy famas"
	;// bind = PageDown
		bind scancode78 "buy ak47;buy m4a1"
		
	;// bind = Arrow Up (Up)
		bind scancode79 "buy hegrenade"
	;// bind = Arrow Down (Down)
		bind scancode80 "buy incgrenade; buy molotov"
	;// bind = Arrow Left (Left)
		bind scancode81 "buy smokegrenade"
	;// bind = Arrow Right (Right)
		bind scancode82 "buy flashbang"
		
	;// bind = NumPad NumLock	
		;// bind scancode83
	;// bind = NumPad /
		;// bind scancode84
	;// bind = NumPad *
		;// bind scancode85 
	;// bind = NumPad -
		bind scancode86 "buy decoy"
	;// bind = NumPad +
		bind scancode87 "buy defuser"
	;// bind = NumPad Enter
		;// bind scancode88 
	;// bind = NumPad 1
		;// bind scancode89
	;// bind = NumPad 2
		;// bind scancode90
	;// bind = NumPad 3
		;// bind scancode91
	;// bind = NumPad 4
		bind scancode92 "buy deagle"
	;// bind = NumPad 5
		bind scancode93 "buy awp"
	;// bind = NumPad 6
		bind scancode94 "buy p250"
	;// bind = NumPad 7
		;// bind scancode95 
	;// bind = NumPad 8
		;// bind scancode96 
	;// bind = NumPad 9
		;// bind scancode97
	;// bind = NumPad 0
		;// bind scancode98
	;// bind = NumPad .
		;// bind scancode99
;// DONE

ECHOLN	[Success]"	:	13 setting(s) configured"
ECHOLN	[Info]"		:	Completed (24%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting mouse binds"

;// Mousewheel exemption
	bind "MWHEELUP" "+jump"
	bind "MWHEELDOWN" "+jump"
;// DONE

ECHOLN	[Success]"	:	2 setting(s) configured"
ECHOLN	[Info]"		:	Completed (26%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting generic binds"

;// Genera binds
	;// key = spacebar
	bind scancode44 "+jump" 
	;// key = e
	bind scancode8 "+use"  
	;// key = leftshift
	bind scancode225 "+sprint"
	;// key = p
	bind scancode19 "say ¯\_(ツ)_/¯"
		
	;// CS2 Native Jumpthrow Bind
	bind scancode17 "+jump; -attack; -attack2"
;// DONE

ECHOLN	[Success]"	:	5 setting(s) configured"
ECHOLN	[Info]"		:	Completed (34%)"
ECHOLN	[Client]"	:	==============================================="
ECHOLN	[Client]"	:	===[    BINDS Downie2k have been loaded   ]===="
ECHOLN	[Client]"	:	==============================================="
ECHOLN	[Client]"	:	Setting primary requirements"

;// General settings
	sensitivity 	"0.65"
	volume 			"0.7"
;// DONE

ECHOLN	[Success]"	:	2 setting(s) configured"
ECHOLN	[Info]"		:	Completed (38%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting rate"

;// rate 
	rate "1000000"
;// DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Info]"		:	Completed (40%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting viewmodel"

;// Viewmodel settings
	;//"68"		desktop "60"	classic "68"	last used: "68"
	viewmodel_fov 						"68"
	;//"0.5"	desktop "1"		classic "2.5"	last used: "0.5"
	viewmodel_offset_x 					"2.5"	
	;//"0"		desktop "1"		classic "0"		last used: "1"
	viewmodel_offset_y 					"2"
	;//"-0.5"	desktop "-1.5"	classic "-1.5"	last used: "-1"
	viewmodel_offset_z 					"-2"
	;// Options (1) Desktop and (2) Classic
;// DONE

ECHOLN	[Success]"	:	6 setting(s) configured"
ECHOLN	[Info]"		:	Completed (52%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting equipment visibility"

;// show equipment team
	cl_teamid_overhead_mode "2"
;// DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Info]"		:	Completed (54%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting sound settings"

;// sound adjustments for CS2 audio engine
	snd_mixahead 					"0.011"
	snd_headphone_pan_exponent 		"1"
	snd_musicvolume 				"0.03"
	snd_tensecondWarning_volume 	"0.10"
	voice_always_sample_mic 		"false"
	voice_threshold 				"-120"
;// DONE

ECHOLN	[Success]"	:	6 setting(s) configured"
ECHOLN	[Info]"		:	Completed (66%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting network settings"

;// ignores dedicated servers with pings above this value.
	mm_dedicated_search_maxping "40"
;// DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Info]"		:	Completed (68%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting HUD"

;// HUD scale and visibility
	hud_scaling 		"1"
	hud_showtargetid	"1"
;// DONE

ECHOLN	[Success]"	:	2 setting(s) configured"
ECHOLN	[Info]"		:	Completed (72%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting loadout"

;// sets loadout	
	cl_showloadout "1"
;// DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Info]"		:	Completed (74%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting quality features"

;// quality features
	cl_resend "6"
	cl_timeout "9999"
;// DONE

ECHOLN	[Success]"	:	2 setting(s) configured"
ECHOLN	[Info]"		:	Completed (78%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Setting generic features"

;// other features
	r_drawtracers_firstperson 	"1"
	r_drawtracers 				"1"
	fps_max 					"0"
	cl_autohelp 				"0"
;// DONE

ECHOLN	[Success]"	:	5 setting(s) configured"
ECHOLN	[Info]"		:	Completed (89%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Loading custom crosshair"

;// crosshair
	cl_crosshairsize				"1.5"
	cl_crosshairgap 				"-5"
	cl_crosshairthickness			"0.5"
	cl_crosshaircolor				"0"
	cl_crosshair_outlinethickness	"1"
;// DONE
ECHOLN	[Success]"	:	5 setting(s) configured"
ECHOLN	[Success]"	:	Completed (100%)"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Console]"	:	Config executed"
ECHOLN	[Warning]"	:	Write config to disk"
host_writeconfig
ECHOLN	[Success]"	:	Completed"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Loading YPRAC settings"
ECHOLN	[Info]"		:	Currently set to: Disabled"

;//		Comment out to disable
	;// condebug
;//		DONE

ECHOLN	[Success]"	:	1 setting(s) configured"
ECHOLN	[Success]"	:	Completed"
ECHOLN 	[Client]"	:	_______________________________________________"
ECHOLN	[Client]"	:	Disabling profiler(s)"

;// profilers
	vprof_off
	iv_off
;// DONE

ECHOLN	[Success]"	:	Completed"
ECHOLN	[Client]"	:	==============================================="
ECHOLN	[Client]"	:	===[     CFG Downie2k has been loaded     ]===="
ECHOLN	[Client]"	:	===[          Goodluck have fun!          ]===="
ECHOLN	[Client]"	:	==============================================="
ECHOLN  [Warning]"	: 	Configuration completed, closing connection."